.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 4.4rem;
    height: 4.4rem;
    outline: none;
    -webkit-tap-highlight-color: initial;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
}

.button:active {
    background-color: rgb(142, 142, 147);
}

.closeIcon {
    width: 2.0rem;
    height: 2.0rem;
    fill: rgb(242, 242, 247);
}

.box {
    text-align: center;
}

.cautionIcon {
    display: inline-block;
    width: 3.2rem;
    fill: rgb(242, 242, 247);
}

.text {
    color: rgb(242, 242, 247);
    font-size: 1.3rem;
    line-height: 2.0rem;
}
