@keyframes fetching {
    0% { background-position-x: 100%; }
    100% { background-position-x: 0%; }
}

.container {
    padding: 2.0rem 1.6rem;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.heading {
    font-size: 2.0rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: rgb(44, 44, 46);
    line-height: 3.2rem;
}

.heading:empty {
    background: linear-gradient(
        -90deg,
        rgb(229, 229, 234) 0%,
        rgb(229, 229, 234) 40%,
        rgb(225, 225, 230) 50%,
        rgb(229, 229, 234) 60%,
        rgb(229, 229, 234) 100%
    );
    background-repeat: repeat;
    background-size: 250% 100%;
    animation: fetching 1.2s ease infinite;
    border-radius: 0.2rem;
    width: 12.0rem;
    height: 2.0rem;
}

.subheading:empty::after {
    visibility: hidden;
}

.button {
    flex-shrink: 0;
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    outline: none;
    border-radius: 50%;
    background-color: rgb(229, 229, 234);
    margin-left: 0.8rem;
}

.icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: rgb(142, 142, 147);
    position: relative;
    top: 0.2rem;
}

.subheading {
    font-size: 1.2rem;
    color: rgb(142, 142, 147);
}

.subheading::after {
    content: "更新";
}

.subheading:empty {
    background: linear-gradient(
        -90deg,
        rgb(229, 229, 234) 0%,
        rgb(229, 229, 234) 40%,
        rgb(225, 225, 230) 50%,
        rgb(229, 229, 234) 60%,
        rgb(229, 229, 234) 100%
    );
    background-repeat: repeat;
    background-size: 250% 100%;
    animation: fetching 1.2s ease infinite;
    border-radius: 0.2rem;
    width: 7.2rem;
}

.subheading:empty::after {
    visibility: hidden;
}
