html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

@keyframes compass {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fetching {
    0% { background-position-x: 100%; }
    100% { background-position-x: 0%; }
}

.locating-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.7);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locating-layer--vanished {
    display: none;
}

.locating-layer__icon {
    width: 6.0vh;
    height: 6.0vh;
    animation: compass 2.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.issues-layer {
    background-color: rgba(15, 15, 15, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.issues-layer--vanished {
    display: none;
}

.issues {
    min-height: 95vh;
    margin-top: 5vh;
    background-color: rgb(250, 250, 250);
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    box-shadow: 1px 2px 30px rgba(15, 15, 15, 0.2);
}

.issues__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.0rem;
    border-bottom: 1px solid rgba(142, 142, 147, 0.25);
}

.issues__button {
    outline: none;
    color: rgb(10, 132, 255);
    min-height: 44px;
    min-width: 44px;
}

.issues__button--hidden {
    visibility: hidden;
}

.issues__button--bold {
    font-weight: bold;
}

.issues__button:disabled {
    color: rgb(174, 174, 178);
}

.issues__heading {
    font-weight: bold;
}

.issues__pages {
    width: 205vw;
    height: 100vh;
    display: flex;
    overflow-y: scroll;
}

.issues__page {
    width: 100vw;
    height: 100vh;
    margin-bottom: 1.0rem;
    background-color: rgb(250, 250, 250);
}

.issues__page--vanished {
    display: none;
}

.issues__subheading {
    display: block;
    color: rgb(142, 142, 147);
    padding: 2.0rem 1.6rem 0.8rem 1.6rem;
    font-size: 1.4rem;
}

.issues__subheading--small {
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem 2.0rem 1.6rem;
}

.issues__touchables {
    border-top: 0.5px solid rgba(142, 142, 147, 0.5);
    border-bottom: 0.5px solid rgba(142, 142, 147, 0.5);
    background-color: white;
    padding-left: 1.6rem;
}

.issues__touchable {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: 1.2rem 0;
    border-top: 0.5px solid rgba(142, 142, 147, 0.5);
}

.issues__touchable--first {
    border-top: 0;
}

.issues__icon-wrapper {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    margin-right: 1.6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.issues__icon-wrapper--red {
    background-color: rgb(255, 59, 48);
}

.issues__icon-wrapper--blue {
    background-color: rgb(90, 200, 250);
}

.issues__icon-wrapper--lightgray {
    background-color: rgb(229, 229, 234);
}

.issues__icon {
    width: 1.0rem;
}

.issues__icon--pin {
    width: 0.7rem;
}

.issues__icon--cursor {
    width: 0.7rem;
    position: relative;
    left: 0.05rem;
}

.issues__icon--ellipsis {
    width: 1.2rem;
}

.issues__text {
    flex-grow: 1;
}

.issues__touchable-heading {
    padding: 0.2rem 0;
}

.issues__touchable-description {
    font-size: 1.2rem;
    color: rgb(142, 142, 147);
    padding: 0.4rem 0;
}

.issues__arrow {
    width: 0.8rem;
    margin-right: 1.6rem;
}

.issues__label {
    display: block;
}

.issues__input {
    display: block;
    width: 100%;
    color: rgb(44, 44, 46);
    background-color: white;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
    padding: 1.6rem;
    border-top: 0.5px solid rgba(142, 142, 147, 0.5);
    border-bottom: 0.5px solid rgba(142, 142, 147, 0.5);
}

.issues__input--multiline {
    line-height: 1.25;
    margin-bottom: 1.0rem;
}

.issues__input::placeholder {
    /* opacity: 0.8; */
    color: rgb(174, 174, 178);
}

.controls {
    background-color: rgb(250, 250, 250);
    border-radius: 0.8rem;
    border: 1px solid rgb(229, 229, 234);
    box-shadow: 0px 0px 6px 0px rgba(15, 15, 15, 0.2);
    position: fixed;
    z-index: 3;
}

.controls--invisible {
    visibility: hidden;
}

.controls--top-right {
    top: 1.0rem;
    right: 1.0rem;
}

.controls__button {
    width: 4.4rem;
    height: 4.4rem;
    outline: none;
    display: block;
    border-bottom: 0.5px solid rgba(142, 142, 147, 0.5);
}

.controls__button:last-child {
    border-bottom: 0;
}

.controls__button:disabled {
    cursor: not-allowed;
}

.controls__icon--report {
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    top: 0.1rem;
}

.controls__icon--locate {
    width: 1.4rem;
    height: 1.4rem;
    position: relative;
    top: 0.1rem;
}

.sheet {
    position: fixed;
    top: 5vh;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: 2.0rem 1.6rem 0 1.6rem;
    background-color: rgb(250, 250, 250);
    z-index: 4;
    border: 1px solid rgb(229, 229, 234);
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    box-shadow: 1px 2px 30px rgba(15, 15, 15, 0.2);
    transition: transform 100ms ease-in-out;
    transition-delay: 1ms; /* Prevent Safari's twitching bug */
}

.sheet::before {
    content: "　";
    width: 3.2rem;
    height: 0.4rem;
    background-color: rgb(209, 209, 214);
    border-radius: 2.0rem;
    margin: 0 auto;
    position: absolute;
    top: 0.8rem;
    left: calc(50% - 1.6rem);
}

.sheet--condensed {
    transform: translateY(57%);
    overflow-y: hidden;
    transition-delay: 1ms; /* Prevent Safari's twitching bug */
}

.sheet--vanished {
    transform: translateY(130%);
}

.sheet__heading { 
    display: flex;
    justify-content: space-between;
}

.sheet__title {
    overflow: hidden;
}

.sheet__name {
    color: rgb(44, 44, 46);
    font-weight: bold;
    font-size: 2.0rem;
    line-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sheet__time {
    font-size: 1.2rem;
    color: rgb(142, 142, 147);
}

.sheet__time:empty {
    background: linear-gradient(
        -90deg,
        rgb(229, 229, 234) 0%,
        rgb(229, 229, 234) 40%,
        rgb(225, 225, 230) 50%,
        rgb(229, 229, 234) 60%,
        rgb(229, 229, 234) 100%
    );
    background-repeat: repeat;
    background-size: 250% 100%;
    animation: fetching 1.2s ease infinite;
    border-radius: 0.2rem;
    width: 7.2rem;
}

.sheet__time::after {
    content: "更新";
}

.sheet__time:empty::after {
    visibility: hidden;
}

.sheet__buttons {
    display: inline-flex;
    position: sticky;
    top: 0;
    right:0;
}

.sheet__button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    outline: none;
    border-radius: 50%;
    background-color: rgb(229, 229, 234);
    margin-left: 0.4rem;
}

.sheet__icon--phone {
    width: 1.2rem;
    height: 1.2rem;
}

.sheet__icon--cancel {
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    top: 0.2rem;
}

.sheet__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;
}

.sheet__card {
    flex-basis: 48%;
    border-radius: 1.0rem;
    padding: 1.0rem 1.4rem;
    color: white;
    background-color: rgb(17, 120, 122);
}

.sheet__card--caution {
    background-color: rgb(230, 126, 34);
}

.sheet__card--insufficient {
    background-color: rgb(142, 142, 147);
}

.sheet__card-label {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.sheet__card-value {
    display: block;
    font-size: 3.2rem;
    text-align: center;
    position: relative;
}

.sheet__card-value::after {
    content: "片";
    font-size: 1.0rem;
    position: absolute;
    bottom: 0;
    line-height: 2.2rem;
    padding: 0 0.4rem;
}

.sheet__touchable {
    display: block;
    width: 100%;
    text-align: left;
    border-top: 0.5px solid rgb(142, 142, 147);
    padding: 1.4rem 0;
}

.sheet__touchable:first-child {
    border-top: 0;
}

.sheet__touchable--vanished {
    display: none;
}

.sheet__label {
    display: block;
    color: rgb(142, 142, 147);
    font-size: 1.4rem;
    line-height: 1.8;
}

.sheet__value {
    display: block;
    color: rgb(44, 44, 46);
    line-height: 1.25;
}

.sheet__value--highlighted {
    color: rgb(10, 132, 255);
}

.sheet__value--bold {
    font-weight: bold;
}

.sheet__value:empty {
    background: linear-gradient(
        -90deg,
        rgb(229, 229, 234) 0%,
        rgb(229, 229, 234) 40%,
        rgb(225, 225, 230) 50%,
        rgb(229, 229, 234) 60%,
        rgb(229, 229, 234) 100%
    );
    background-repeat: repeat;
    background-size: 250% 100%;
    animation: fetching 1.2s ease infinite;
    border-radius: 0.2rem;
}

.sheet__value:empty::after {
    content: "讀取中";
    visibility: hidden;
}

.sheet__value--long:empty {
    width: 65%;
}

.sheet__value--short:empty {
    width: 30%;
}

.sheet__value--nested {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 640px) {
    .issues-layer {
        display: none;
    }

    .controls__button:first-child {
        display: none;
    }

    .sheet {
        top: 0.8rem;
        right: unset;
        bottom: unset;
        left: 0.8rem;
        width: 400px;
        border-radius: 1.2rem;
        transform: unset;
        padding-bottom: 2.0rem;
    }

    .sheet::before {
        display: none;
    }

    .sheet--vanished {
        transform: translateX(-110%);
    }

    .sheet__cards {
        margin-top: 0;
        padding: 2.4rem 0 1.0rem 0;
    }

    .sheet__touchable {
        padding: 0.8rem 0;
    }
}
