html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.marker-cluster span {
    visibility: hidden;
}

.insufficient {
    filter: grayscale(1);
}

.caution {
    filter: hue-rotate(170deg) brightness(1.13);
}

.leaflet-popup-content {
    font-size: 1.4rem;
}

.footnote {
    color: rgb(140, 140, 140);
}

@media (max-width: 480px) {
    .leaflet-bottom.leaflet-right {
        transform: scale(0.8) translateX(38px);
    }
}
