.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(250, 250, 255);
    border: 1px solid rgb(229, 229, 234);
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    box-shadow: 1px 2px 30px rgba(28, 28, 30, 0.3);
    pointer-events: auto;
    user-select: none;
}

.container::before {
    content: " ";
    width: 3.2rem;
    height: 0.4rem;
    background-color: rgb(209, 209, 214);
    border-radius: 2.0rem;
    margin: 0 auto;
    position: absolute;
    top: 0.8rem;
    left: calc(50% - 1.6rem);
}

@media (min-width: 640px) {
    .container {
        right: unset;
        width: 38.0rem;
        border-top-left-radius: unset;
        border-bottom-right-radius: 1.6rem;
    }
    .container::before {
        display: none;
    }
}
