.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(250, 250, 255);
    border: 1px solid rgb(229, 229, 234);
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    box-shadow: 1px 2px 30px rgba(28, 28, 30, 0.3);
    pointer-events: auto;
}

.container::before {
    content: " ";
    width: 3.2rem;
    height: 0.4rem;
    background-color: rgb(209, 209, 214);
    border-radius: 2.0rem;
    margin: 0 auto;
    position: absolute;
    top: 0.8rem;
    left: calc(50% - 1.6rem);
}

.header {
    padding: 2.0rem 1.6rem;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.title {
    font-size: 2.0rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: rgb(44, 44, 46);
    line-height: 3.2rem;
}

.time {
    font-size: 1.2rem;
    color: rgb(142, 142, 147);
}

.time::after {
    content: "更新";
}

.time:empty {
    background: linear-gradient(
        -90deg,
        rgb(229, 229, 234) 0%,
        rgb(229, 229, 234) 40%,
        rgb(225, 225, 230) 50%,
        rgb(229, 229, 234) 60%,
        rgb(229, 229, 234) 100%
    );
    background-repeat: repeat;
    background-size: 250% 100%;
    animation: fetching 1.2s ease infinite;
    border-radius: 0.2rem;
    width: 7.2rem;
}

.time:empty::after {
    visibility: hidden;
}

.closeButton {
    flex-shrink: 0;
    width: 3.2rem;
    height: 3.2rem;
    outline: none;
    border-radius: 50%;
    background-color: rgb(229, 229, 234);
    margin-left: 0.8rem;
}

.closeIcon {
    width: 1.6rem;
    height: 1.6rem;
    fill: rgb(142, 142, 147);
    position: relative;
    top: 0.1rem;
}

.content {
    height: 100%;
    padding: 0 1.6rem 12.0rem 1.6rem;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    flex-basis: 48%;
    border-radius: 1.0rem;
    padding: 1.0rem 1.4rem;
    color: rgb(250, 250, 255);
}

.cardLabel {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.cardValue {
    display: block;
    font-size: 2.8rem;
    text-align: center;
    position: relative;
}

.cardValue::after {
    content: "片";
    font-size: 1.0rem;
    position: absolute;
    bottom: 0;
    line-height: 2.2rem;
    padding: 0 0.4rem;
}

.touchable {
    display: block;
    width: 100%;
    text-align: left;
    color: rgb(44, 44, 46);
    border-top: 0.5px solid rgb(142, 142, 147);
    padding: 1.4rem 0;
}

a.touchable {
    color: rgb(10, 132, 255);
}

.touchable:first-child {
    border-top: 0;
}

.touchableLabel {
    display: block;
    color: rgb(142, 142, 147);
    font-size: 1.4rem;
    line-height: 1.8;
}

.touchableValue {
    display: block;
    line-height: 1.25;
}

.touchableValue:empty {
    background: linear-gradient(
        -90deg,
        rgb(229, 229, 234) 0%,
        rgb(229, 229, 234) 40%,
        rgb(225, 225, 230) 50%,
        rgb(229, 229, 234) 60%,
        rgb(229, 229, 234) 100%
    );
    background-repeat: repeat;
    background-size: 250% 100%;
    animation: fetching 1.2s ease infinite;
    border-radius: 0.2rem;
}

.touchableValue:empty::after {
    content: "讀取中";
    visibility: hidden;
}

.touchableAddress:empty {
    width: 65%;
}

.touchablePhone:empty,
.touchableNote:empty {
    width: 30%;
}

.touchablePeriod {
    display: flex;
    justify-content: space-between;
}

.touchablePeriod:first-child {
    font-weight: bold;
}
