.container {
    background-color: rgb(250, 250, 255);
    border: 0.5px solid rgba(209, 209, 214, 0.6);
    border-radius: 7px;
    box-shadow: 0 0 6px 0 rgba(28, 28, 30, 0.3);
    position: absolute;
    z-index: 1;
}

.containerForDesktop {
    display: none;
}

.topRight {
    top: 1.0rem;
    right: 1.0rem;
}

.bottomRight {
    bottom: 1.0rem;
    right: 1.0rem;
}

.button {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    outline: none;
    -webkit-tap-highlight-color: initial;
}

.button:active {
    background-color: rgb(142, 142, 147);
}

.button:not(:first-of-type) {
    border-top: 1px solid rgba(209, 209, 214, 0.6);
}

.buttonForDesktop {
    display: none;
}

.locateIcon {
    width: 1.4rem;
    height: 1.4rem;
    fill: rgb(58, 58, 60);
    position: relative;
    top: 0.1rem;
}

.plusIcon {
    width: 1.6rem;
    height: 1.6rem;
    fill: rgb(58, 58, 60);
    position: relative;
    top: 0.1rem;
}

.minusIcon {
    width: 1.6rem;
    height: 1.6rem;
    fill: rgb(58, 58, 60);
}

@media (min-width: 640px) {
    .bottomRight {
        bottom: 2.8rem;
    }

    .containerForDesktop {
        bottom: 12.8rem;
        display: block;
    }

    .buttonForDesktop {
        display: block;
    }
}
