html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

html, body, #root {
    height: 100vh;
}

.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-logo {
    opacity: 0.75;
    user-select: none;
}
