html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

html, body, #root {
    height: 100vh;
}

.mapboxgl-canvas {
    outline: none;
}

.mapboxgl-ctrl-logo {
    user-select: none;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl-logo {
    margin: 0;
}

.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib.mapboxgl-compact {
    opacity: 0.3;
    min-height: 24px;
    touch-action: manipulation; /* Disable the double-tap-to-zoom gesture */
}
